<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Дисципліна</th>
        <th>Тип</th>
        <th>Викладач</th>
        <th>Навантаження</th>
      </tr>
    </thead>
    <tbody>
	    <% @subjects.each do |s| %>
	      <tr>
			    <td><%= s.dname %></td>
	        <td><%= s.type %></td>
	        <td><%= s.tname %></td>
	        <td><%= s.loading %></td>
          <td><%= link_to "Замінити викладача", "/subjects/#{s.id}/edit" %></td>
          <td><%= link_to 'Видалити', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
    </tbody>
  </table>
</div>