<div class="container">
<%= form_for(@subject, url: {action: "create"}) do |f| %>
  <div class="field">
    <p><%= f.select :id_disc, options_from_collection_for_select(@disciplines, :id, :name),{}, {:class => "form-control"} %></p>
  </div>
  <div class="field">
    <p><%= f.select :id_type, options_from_collection_for_select(@types, :id, :type),{}, {:class => "form-control"} %></p>
  </div>
  <div class="field">
  <% @teacher_exclude_list = ['Асистент'] %>
    <p><%= f.collection_select(:id_teach, Teacher.where("position NOT IN (?)", @teacher_exclude_list), :id, :name,
                    {:include_blank => "Без викладача"}, {:class => "form-control"}) %></p>
  </div>
  <div class="field">
    <p>Навантаження</p> 
    <%= f.text_field :loading, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Створити', :class => 'btn btn-default' %>
  </div>
<% end %>
</div>
