<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href=<%= subjects_path %>>Навантаження викладачів</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(subjects_path) %>"><%= link_to "Предмети",    subjects_path %></li>
        <li class="<%= 'active' if current_page?(teachers_path) %>"><%= link_to "Викладачі",    teachers_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Додаткові функції <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Створити новий предмет",    subjects_new_path %></li>
            <li><%= link_to "Додати викладача",    teachers_new_path %></li>
            <li><%= link_to "Предмети без викладача",    teachers_teacher_null_path %></li>
            <li><%= link_to "Навантаження на дисципліни",    disciplines_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


